.full-width-input {
    margin-top:8px;
    display: block;
    width: 100%;
    &:nth-child(1){
        margin-top: 0;
    }
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    button {
        margin-left:8px;
        &:nth-child(1) {
            margin-left: 0;
        }
    }
}